.wrapper {
	margin: 0 auto;
	width: 996px;
}
table {
	margin-bottom: 10px;
	border-collapse: collapse;
	line-height: 1.1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: radial-gradient(farthest-corner at 50% 50%, white, #dcecf8);
	color: #0c213b;
}
th {
	padding: 10px;
	border: 1px solid #175d42;
}
td {
	font-size: 0.8em;
	padding: 5px 7px;
	border: 1px solid #0f6846;
}
