header {
  margin: 20px;
  padding: 15px;
  background-color: #ffe033;
  color: grey;
}

p {
  font-family: serif;
  font-size: 15px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "\25B6";
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: "\25BC";
}

details > p {
  font-size: 20px;
  color: darkolivegreen;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 996px;
}

td,
th {
  text-align: left;
}

table,
p,
h1,
h2,
h3,
img,
figcaption {
  margin: 20px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid green;
  padding: 5px;
}

ol {
  margin-left: 45px;
}

/*tr:nth-child(2n) {
	background-color: rgb(215, 250, 215);
}
th:only-child {
	background-color: rgb(250, 134, 134);
}*/
