header {
	margin: 20px;
	padding: 15px;
	background-color: rgb(255, 224, 51);
	color: grey;
}
p {
	font-family: serif;
	font-size: 15px;
}
summary {
	display: block;
}
summary::-webkit-details-marker {
	display: none;
}
summary::before {
	content: "\25B6";
	padding-right: 0.5em;
}

details[open] > summary::before {
	content: "\25BC";
}
